<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbMallSpecsValueMapper">
    
    <resultMap type="TbMallSpecsValue" id="TbMallSpecsValueResult">
        <result property="id"    column="id"    />
        <result property="specsId"    column="specs_id"    />
        <result property="specsName"    column="specs_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="sort"    column="sort"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectTbMallSpecsValueVo">
        select id, specs_id, specs_name, create_time, sort, status from tb_mall_specs_value
    </sql>

    <select id="selectTbMallSpecsValueList" parameterType="TbMallSpecsValue" resultMap="TbMallSpecsValueResult">
        <include refid="selectTbMallSpecsValueVo"/>
        <where>  
            <if test="specsId != null "> and specs_id = #{specsId}</if>
            <if test="specsName != null  and specsName != ''"> and specs_name like concat('%', #{specsName}, '%')</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTbMallSpecsValueById" parameterType="Long" resultMap="TbMallSpecsValueResult">
        <include refid="selectTbMallSpecsValueVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTbMallSpecsValue" parameterType="TbMallSpecsValue" useGeneratedKeys="true" keyProperty="id">
        insert into tb_mall_specs_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="specsId != null">specs_id,</if>
            <if test="specsName != null">specs_name,</if>
            <if test="createTime != null">create_time,</if>
            <if test="sort != null">sort,</if>
            <if test="status != null">status,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="specsId != null">#{specsId},</if>
            <if test="specsName != null">#{specsName},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="sort != null">#{sort},</if>
            <if test="status != null">#{status},</if>
         </trim>
    </insert>

    <update id="updateTbMallSpecsValue" parameterType="TbMallSpecsValue">
        update tb_mall_specs_value
        <trim prefix="SET" suffixOverrides=",">
            <if test="specsId != null">specs_id = #{specsId},</if>
            <if test="specsName != null">specs_name = #{specsName},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbMallSpecsValueById" parameterType="Long">
        delete from tb_mall_specs_value where id = #{id}
    </delete>

    <delete id="deleteTbMallSpecsValueByIds" parameterType="String">
        delete from tb_mall_specs_value where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>