<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.TbOrderDerailsMapper">

    <resultMap id="TbOrderDerails" type="com.ruoyi.system.domain.TbOrderDerails">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="orderInfoId" column="order_info_id"/>
        <result property="mallId" column="mall_id"/>
        <result property="storeId" column="store_id"/>
        <result property="size" column="size"/>
        <result property="colour" column="colour"/>
        <result property="quantity" column="quantity"/>
        <result property="amount" column="amount"/>
        <result property="image" column="image"/>
    </resultMap>

    <sql id="selectList">
        select id,name,order_info_id,mall_id,store_id,size,colour,quantity,amount,image from tb_order_derails
    </sql>
    <insert id="insert" parameterType="com.ruoyi.system.domain.TbOrderDerails">
        insert into tb_order_derails
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="orderInfoId != null">order_info_id,</if>
            <if test="mallId != null">mall_id,</if>
            <if test="storeId != null">store_id,</if>
            <if test="size != null and size != ''">size,</if>
            <if test="colour != null and colour != ''">colour,</if>
            <if test="quantity != null">quantity,</if>
            <if test="amount != null">amount,</if>
            <if test="image != null and image != ''">image,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="orderInfoId != null">#{orderInfoId},</if>
            <if test="mallId != null">#{mallId},</if>
            <if test="storeId != null">#{storeId},</if>
            <if test="size != null and size != ''">#{size},</if>
            <if test="colour != null and colour != ''">#{colour},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="amount != null">#{amount},</if>
            <if test="image != null and image != ''">#{image},</if>
        </trim>
    </insert>

    <select id="selectOrderDerailsByOrderInfoId" resultType="com.ruoyi.system.domain.TbOrderDerails" parameterType="long">
        <include refid="selectList"></include>
        <where>
            <if test="orderId != null">order_info_id = #{orderId}</if>
        </where>
    </select>


    <select id="selectOrderDerailsList" resultType="com.ruoyi.system.domain.TbOrderDerails">
        <include refid="selectList"></include>
        <where>
            order_info_id in
            <foreach collection="array" open="(" separator="," close=")" item="id" index="index">
                #{id}
            </foreach>
        </where>
    </select>

    <select id="selectOrderInfoById" resultType="com.ruoyi.system.domain.TbOrderDerails">
            <include refid="selectList"></include>
            <where>
                <if test="orderInfoId != null">order_info_id = #{orderInfoId}</if>
            </where>
    </select>

    <update id="updateTbOrderDerails" parameterType="com.ruoyi.system.domain.TbOrderDerails">
        update tb_order_derails
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="orderInfoId != null and orderInfoId!=0">order_info_id = #{orderInfoId},</if>
            <if test="mallId != null and mallId!=0">mall_id = #{mallId},</if>
            <if test="storeId != null and storeId!=0">store_id = #{storeId},</if>
            <if test="size != null and size != ''">size = #{size},</if>
            <if test="colour != null and colour != ''">colour = #{colour},</if>
            <if test="quantity != null and quantity!=0">quantity = #{quantity},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="image != null and image != ''">image = #{image},</if>
        </trim>
        where id = #{id}
    </update>
</mapper>
